.about {
  @media screen and (min-width: 1200px) {
  padding-bottom: 0;}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-item {
  width: 100%;
  @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2)
    };
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);}
}

.about-icons-box {
  background-color: rgba(245, 244, 250, 1);
  width: 290px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 480px) {
  width: 450px;
}
 @media screen and (min-width: 768px) {
  width: 354px;
}
@media screen and (min-width: 1200px) {
  width: 270px;
}
}