.hero {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 400px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/hero-mob.jpg);
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/hero-mob-2x.jpg);
  }
}

  @media screen and (min-width: 768px) {
    .hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/hero-tablet.jpg);
  }
    }
  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi),
 screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/hero-tablet-2x.jpg);
    }
    }
  @media screen and (min-width: 1200px) {
    .hero {background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/background/hero-background.jpg);
     height: 600px;
     }
  }
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
      .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/hero-2x.jpg);
      }
    }
.hero .container {
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
@media screen and (min-width: 480px) {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  padding-top: 200px;
  padding-bottom: 200px;}
}

.hero-title {
  display: block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-theme-dark);
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}