.services {
@media screen and (max-width: 1199px) {
display: none;}
}


.services-list {
  display: flex;
}

.services-title {
  margin-bottom: 50px;
}

.services-item:not(:last-child) {
  margin-right: 30px;
  margin-top: 0;
}

.services-subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.services-information {
  position: relative;
}

.services-subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: inherit;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
