.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  @media screen and (min-width: 768px) {
  padding-top: 24px;
  padding-bottom: 25px;
}
  }

.header__logo {
  display: inline-block;
  padding: 16px 0;
  display: inline-block;
}

.logo__dark {
  color: var(--primary-text-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
  margin-bottom: 0;
}
}

.logo__white {
  color: var(--text-color-theme-dark);
}
