:root {
    --main-font: 'Roboto', sans-serif, 'Times', sans-serif;
    --secondary-font: 'Raleway', sans-serif, 'Courier', sans-serif;
    --accent-color: #2196f3;
    --secondary-color: #ffffff;
    --secondary-button-color: #1688e6;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --text-color-theme-dark: #ffffff;
    --background-color: #e5e5e5;
    --background-color-dark: #2f303a;
    --background-color-light: #f5f4fa;
    --contact-list-link-color: rgba(255, 255, 255, 0.6);
    --line-color: #ececec;
    --line-project-color: #eeeeee;
    --icon-links-color: rgba(33, 150, 243, 1);
    --icon-liks-secondary-color: rgba(175, 177, 184, 1);
}